@model OrbitNet.Web.Models.ViewModels.SimulationViewModel

<h1>Resultado del Tick</h1>
<p>Tick actual: @Model.CurrentTick</p>
<p>Mensajes procesados: @Model.ProcessedMessages</p>
<p>Satélites activos: @Model.ActiveSatellites</p>
