@model OrbitNet.Web.Models.ViewModels.UploadViewModel

<h1>Cargar archivo XML</h1>
<form method="post" enctype="multipart/form-data">
    <input type="file" name="xmlFile" />
    <button type="submit">Subir</button>
</form>
