@model OrbitNet.Web.Models.ViewModels.UploadViewModel

<h1>Cargar archivo XML</h1>
<form asp-action="Result" asp-controller="Upload" method="post" enctype="multipart/form-data">
    <div>
        <label for="xmlFile">Archivo XML</label>
        <input type="file" id="xmlFile" name="xmlFile" />
    </div>
    <button type="submit">Subir</button>
</form>
