@model OrbitNet.Web.Models.ViewModels.MatrixViewModel

<h1>Matriz Dispersa</h1>
<p>Filas: @Model.Rows</p>
<p>Columnas: @Model.Columns</p>
<p>Nodos ocupados: @Model.OccupiedNodes</p>
<div>@Html.Raw(Model.SvgContent)</div>
